@model ErrorViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment environment
@inject Microsoft.Extensions.Logging.ILogger<ErrorViewModel> logger

@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar a requisição.</h2>

@if (environment.EnvironmentName != "Development" || Model == null)
{
    return;
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Exception != null)
{
    logger.LogError(Model.Exception, Model.Exception.Message);

    <h3>@Model.Exception.Message</h3>
    <p>
        @Model.Exception.StackTrace
    </p>
}